* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto sans", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png);
  /*background-color: #212121;*/
}

h1 {
  margin: .75em auto;
  color: #fff;
  font-size: 4em;
  /*	font-size: calc(5.5vw*1.5);*/
  text-align: center;
  font-family: "open sans", Arial, sans-serif;
  font-weight: 500;
  width: 90%;
}

h2 {
  color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  margin-bottom: 3em;
  width: 95%;
}

.wrap {
  display: flex;
  justify-content: space-around;
  margin: 0 auto 3em;
  width: 75%;
}

.main, .end {
  opacity: 0;
  display: none;
  transition: .5s;
}

.ph {
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid rgba(200, 230, 201, 0.5);
  width: 25em;
  background-position: center top;
  height: 37.5em;
  cursor: pointer;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75), 0 1px 7px rgba(0, 0, 0, 0.52);
  border-radius: 3px;
}

.cont {
  color: rgba(255, 255, 255, 0.92);
  text-align: center;
  transition: .5s;
}

.but {
  background: #4CAF50;
  padding: 1.3em;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.3);
  display: block;
  text-decoration: none;
  border-radius: 3px;
  transition: .2s;
}

.but:hover {
  background: #81c784;
}

.but:active {
  background: #2E7D32;
  color: rgba(255, 255, 255, 0.87);
  box-shadow: none;
}

.beg {
  width: 10em;
  margin: 5em auto;
}

.con {
  width: 8.7em;
  margin: -2em auto 2em;
}

a[disabled] {
  background: #A5D6A7;
  cursor: disabled;
}

a[disabled]:hover {
  background: #A5D6A7;
}

a[disabled]:active {
  background: #A5D6A7;
  color: rgba(0, 0, 0, 0.87);
}

.rad:not(checked) {
  position: absolute;
  opacity: 0;
}

.rad:not(checked) + label:before {
  content: '';
  display: none;
}

.rad:not(checked) + label:after {
  content: '';
  display: none;
}

.rad:checked + label:after {
  opacity: 1;
}

.rad:active + label:before {
  box-shadow: 0 0 3px 1px #A5D6A7;
}

label {
  padding: 0 !important;
}

.h3 {
  color: #fff;
  font-size: 2.3em;
  text-align: center;
}

.perc {
  color: #66BB6A;
  text-decoration: underline;
}

.tobi {
  background: url(img/tobi.jpg);
  width: 60em;
  background-size: cover;
  margin: 1em auto;
  height: 35em;
}

@media (max-width: 1200px) {
  .wrap {
    width: 100%;
  }
  .tobi {
    width: 50em;
    height: 25em;
  }
}

@media (max-width: 850px) {
  .ph {
    width: 45vw;
    height: 65vw;
  }
  .tobi {
    width: 85vw;
    height: 55vw;
    background-image: url(img/tobi2.jpg);
  }
}

@media (max-width: 485px) {
  .tobi {
    width: 95vw;
    height: 63vw;
    background-image: url(img/tobi2.jpg);
  }
  h2 {
    width: 95%;
    font-size: 1.4em;
  }
  h1 {
    font-size: 3em;
  }
  .beg {
    font-size: 1.5em;
    padding: .7em;
  }
  .con {
    font-size: 1.5em;
    padding: 1em 1.5em;
    margin-top: -1em;
  }
  .cont {
    font-size: 1.5em;
  }
  .wrap {
    flex-wrap: wrap;
  }
  .ph:first-child {
    margin-bottom: 1em;
  }
  .ph {
    width: 25em;
    height: 37.5em;
  }
}

@media (min-width: 1750px) {
  .ph {
    width: 40em;
    height: 60em;
  }
  .con {
    font-size: 1.6em;
  }
}
